In [1]:
import pandas as pd

In [2]:
# Load data
df = pd.read_csv('../data/raw/enhanced_box_office_data(2000-2024)u.csv')
df.head()

,Rank,Release Group,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
0,1,Mission: Impossible II,546388108.0,215409889.0,39.4,330978219.0,60.6,2000,"Adventure, Action, Thriller",6.126/10,6741.0,en,United States of America
1,2,Gladiator,460583960.0,187705427.0,40.8,272878533.0,59.2,2000,"Action, Drama, Adventure",8.217/10,19032.0,en,"United Kingdom, United States of America"
2,3,Cast Away,429632142.0,233632142.0,54.4,196000000.0,45.6,2000,"Adventure, Drama",7.663/10,11403.0,en,United States of America
3,4,What Women Want,374111707.0,182811707.0,48.9,191300000.0,51.1,2000,"Comedy, Romance",6.45/10,3944.0,en,"United Kingdom, United States of America"
4,5,Dinosaur,349822765.0,137748063.0,39.4,212074702.0,60.6,2000,"Animation, Family, Adventure",6.544/10,2530.0,en,United States of America

In [3]:
df.isnull().sum()

Rank                      0
Release Group             0
$Worldwide                0
$Domestic                 0
Domestic %                0
$Foreign                  0
Foreign %                 0
Year                      0
Genres                  178
Rating                  170
Vote_Count              170
Original_Language       170
Production_Countries    200
dtype: int64

In [4]:
df.dropna(inplace = True)

In [5]:
df.shape

(4797, 13)

In [6]:
# Đổi tên và sắp xếp 
df.rename(columns={"Release Group":"Title"}, inplace = True)
df=df[["Title","Genres","Year","Rating","Vote_Count","Production_Countries","$Worldwide","$Domestic","Domestic %","$Foreign","Foreign %"]]
df.head()

,Title,Genres,Year,Rating,Vote_Count,Production_Countries,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %
0,Mission: Impossible II,"Adventure, Action, Thriller",2000,6.126/10,6741.0,United States of America,546388108.0,215409889.0,39.4,330978219.0,60.6
1,Gladiator,"Action, Drama, Adventure",2000,8.217/10,19032.0,"United Kingdom, United States of America",460583960.0,187705427.0,40.8,272878533.0,59.2
2,Cast Away,"Adventure, Drama",2000,7.663/10,11403.0,United States of America,429632142.0,233632142.0,54.4,196000000.0,45.6
3,What Women Want,"Comedy, Romance",2000,6.45/10,3944.0,"United Kingdom, United States of America",374111707.0,182811707.0,48.9,191300000.0,51.1
4,Dinosaur,"Animation, Family, Adventure",2000,6.544/10,2530.0,United States of America,349822765.0,137748063.0,39.4,212074702.0,60.6

In [7]:
df.dtypes

Title                    object
Genres                   object
Year                      int64
Rating                   object
Vote_Count              float64
Production_Countries     object
$Worldwide              float64
$Domestic               float64
Domestic %              float64
$Foreign                float64
Foreign %               float64
dtype: object

In [8]:
# Chuyển về số nguyên
df['Vote_Count']= df['Vote_Count'].astype(int)
df['$Worldwide']= df['$Worldwide'].astype(int)
df['$Domestic']= df['$Domestic'].astype(int)
df['$Foreign']= df['$Foreign'].astype(int)

In [9]:
# Tách chuỗi và bỏ khoảng trắng
df['Genres'] = df['Genres'].str.split(',')
df['Genres'] = df['Genres'].apply(lambda x: [item.strip() for item in x])
df['Genres'] = df['Genres'].apply(lambda x: list(set(x))) # Bỏ trùng lặp

df['Production_Countries'] = df['Production_Countries'].str.split(',')
df['Production_Countries'] = df['Production_Countries'].apply(lambda x: [item.strip() for item in x])
df['Production_Countries'] = df['Production_Countries'].apply(lambda x: list(set(x)))

In [10]:
# Bỏ /10 và lấy 1 số sau dấu phẩy
df["Rating"]= (df["Rating"].str.replace("/10","",regex=False).astype(float).round(1))
df.head()

,Title,Genres,Year,Rating,Vote_Count,Production_Countries,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %
0,Mission: Impossible II,"[Adventure, Thriller, Action]",2000,6.1,6741,[United States of America],546388108,215409889,39.4,330978219,60.6
1,Gladiator,"[Adventure, Drama, Action]",2000,8.2,19032,"[United Kingdom, United States of America]",460583960,187705427,40.8,272878533,59.2
2,Cast Away,"[Adventure, Drama]",2000,7.7,11403,[United States of America],429632142,233632142,54.4,196000000,45.6
3,What Women Want,"[Romance, Comedy]",2000,6.4,3944,"[United Kingdom, United States of America]",374111707,182811707,48.9,191300000,51.1
4,Dinosaur,"[Adventure, Animation, Family]",2000,6.5,2530,[United States of America],349822765,137748063,39.4,212074702,60.6

In [11]:
df.to_csv("../data/processed/cleaned_data.csv", index=False)